#root {
  background-color: #CCC;
  box-shadow: 5px 5px 5px #555;
  border-radius: 15px;
  text-align: center;
  width: 60%;
  max-width: 770px;
  min-width: 500px;
}



body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #AAA;
}

.bi-toggle-on{
  color: green;
  font-weight: bold;
  font-Size: 30px;
  cursor: pointer;
}

.bi-toggle-off{
  color: grey;
  font-weight: bold;
  font-Size: 30px;
  cursor: pointer;
}

